
# BEGIN WordPress
# Arahan (baris) antara "BEGIN WordPress" dan "END WordPress"
# dihasilkan secara dinamis, dan hanya dapat dimodifikasi melalui filter WordPress.
# Setiap perubahan pada arahan di antara penanda berikut akan ditimpa.
<IfModule mod_rewrite.c>
RewriteEngine On
RewriteRule .* - [E=HTTP_AUTHORIZATION:%{HTTP:Authorization}]
RewriteBase /form-/
RewriteRule ^index\.php$ - [L]
RewriteCond %{REQUEST_FILENAME} !-f
RewriteCond %{REQUEST_FILENAME} !-d
RewriteRule . /form-/index.php [L]
</IfModule>

# END WordPress
# BEGIN Simply Static
# Arahan (baris) antara "BEGIN Simply Static" dan "END Simply Static"
# dihasilkan secara dinamis, dan hanya dapat dimodifikasi melalui filter WordPress.
# Setiap perubahan pada arahan di antara penanda berikut akan ditimpa.
<Files "C:\xampp\htdocs\form-/wp-content/uploads\simply-static\d23a3a03bd6bf926fe4db44b0aa696b4-debug.txt">
require all denied
require host localhost
</Files>
# END Simply Static